
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 34px;
  color: #4E47FF;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Header */
.header{
    background-image: url(../images/Hero-bg.png);
    height: 100%;
     background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
/* nav bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px 150px 150px;
    padding: 50px 0;
}
nav ul li{
    list-style: none;
}

.btn-primary{
    font-size: 16px;
    color: white;
    background-color: #4E47FF;
    padding: 12px 14px;
    border-radius: 10px;
    border: none;
    border-color: none;

}

/* Banner  */

.banner{
    text-align: center;
    padding: 152px 267px 152px 267px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

/* Action portion */
.Action-Section{
    display: flex;
    align-items: center;
    gap: 200px;
    margin: 120px;
    padding: 150px 150px;
}
.action-contain{
    margin: 92px 100px 92px 180px;
}
.action-title{
    font-size: 42px;
    color: #252432;
    
}
.action-subtiitle{
    font-size: 25px;
    font-weight: 517;
    color: #757575;
    margin-top: 23px;
    margin-bottom: 23;
}

.action-pic{
    border-radius: 48px;
    border: none;
    box-shadow: 0 4 4 0;
    width: 403px;
    height: 328px;
}

/* Productive Users Section */
.Productive{
    padding: 50px 142px;
}
.section-title{
    font-size: 38px;
    color: #252432;
    font-weight: bold;
    text-align: center;
}
.productive-items{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.text-size{
    font-size:80px;
    color: #4E47FF;
    font-weight: bold;
}
.resize{
    font-size: 20px;
    color: #B3B3B3;
}
.bg-color{
    background-color: #D6DDED;
    border-radius: 24px;
    margin: 20px 250px 20px 250px;
}

/*  Let’s Get In Touch Section */
.Get-in{
    margin: 92px 150px 14px 150px;
}

.Get-in-touch{
    display:flex;
    gap: 50px;
    margin-right: 50px;
    padding: 129px 115px 129px 0;
    justify-content: center;}

.text-Get-in-touch{
    font-size: 100px;
    font-weight: 528px;
    color:#000000 ;
    padding: 129px 115px 129px 0;
    margin-right: 50px;
}

.text-form-label{
    font-size: 25px;
}
.mytext {
    width: 497px;
    height: 70px; ;
}
.text-area{
    width: 497;
    height: 235px;
}
textarea{
    height: 135px;
    width: 497px;
}
