
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 34px;
  color: #4E47FF;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Header */
.header{
    background-image: url(../images/Hero-bg.png);
    height: 100%;
     background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
/* nav bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px 150px 150px;
    padding: 50px 0;
}
nav ul li{
    list-style: none;
}

.btn-primary{
    font-size: 16px;
    color: white;
    background-color: #4E47FF;
    padding: 12px 14px;
    border-radius: 10px;
    border-color: none;

}

/* Banner  */

.banner{
    text-align: center;
    padding: 152px 267px 152px 267px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

/* Action portion */
.Action-Section{
    display: flex;
    align-items: center;
    gap: 300px;
    margin: 120px;
    padding: 150px 150px;
}
.action-contain{
    margin: 92px 350px 92px 0;
}
.action-title{
    font-size: 42px;
    color: #252432;
    
}
.action-subtiitle{
    font-size: 25px;
    font-weight: 517;
    color: #252432;
    margin-top: 23px;
    margin-bottom: 23;
}

.action-pic{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}
